* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}

/*** Overall Styles ***/

/* Nav Section */

.shop-category-all-container {
  display: flex;
}

.shop-category-links-container {
  display: flex;
  background-color: green;;
}