* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a:active, a:visited {
  color: black;
}
/*** Overall Styles ***/

/* Header Section */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 90px;
}
  .header-nav {
    display: flex;
  }
  .header-logo {}
  .header-search {
    display: flex;
  }

/* Shop Links Section */

.shop-category-all-container {
  display: flex;
  flex-direction: column;
  width: 868px;
  padding: 0 16px;
  text-align: center;
  margin: 0 auto;
}

.shop-category-all-container > p {
  margin: .5em 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25em;
}

  .shop-category-links-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: .5em;
  }

  a.shop-category-link {
    width: 240px;
    height: 48px;
    margin: 0 4px;
    background-color: rgb(244, 245, 247);
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }

    a.shop-category-link:hover {
      background-color: black;
      color: white;
    }

